<div class="container">

  <div class="content">

    <p class="title">
      This is entry component from microservice ALPHA
    </p>

    <br/>

    <!-- <app-buttons-example></app-buttons-example> -->

    <hr/>

    <!-- <app-state-example></app-state-example> -->

    <hr/>

    <!-- <app-assets-example></app-assets-example> -->

    <hr/>
<!-- 
    <app-styles-example></app-styles-example> -->

    <hr/>

    <!-- <app-shared-example></app-shared-example> -->

    <hr/>
<!-- 
    <app-webcomponents-example></app-webcomponents-example> -->

  </div>

</div>
